# Data structure theory questions

1. What are data structures, and why are they important?

- Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently. They're important because they determine how efficiently we can perform operations like searching, sorting, and updating data.

2.Explain the difference between mutable and immutable data types with examples.
- Mutable caqn change after creation . Ex list, dict ,set.
- Imutable cannot be change after creation . Ex int,str,tuple.

3.What are the main difference between lists and tuples in Python ?
- Lists are mutable: This means that after a list is created, its elements can be modified, added, or removed.
-Tuples are immutable: Once a tuple is created, its elements cannot be changed, added, or removed. This makes tuples suitable for storing data that should remain constant throughout the program's execution.

4. Describe how dictionaries store data.
- Dictionaries store data in key-value pairs using a structure called a hash table, which allows fast lookups using keys.

5.Why might you use a set instead of a list in Python?
- Sets automatically remove duplicates and allow fast membership testing, unlike lists.

 6. What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters, while a list is a mutable sequence of any data types.

7. How do tuples ensure data integrity in Python?
- Because tuples are immutable, their contents can't be accidentally changed, making them safer for storing constant or fixed data.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally for fast key-based access.

9.Can lists contain different data types in Python?
- Yes, Python lists can contain mixed data types.

10.Explain why strings are immutable in Python.
- Strings are immutable for memory efficiency, security, and to allow hashing so they can be used as dictionary keys or set elements.

11. What advantages do dictionaries offer over lisys for certain tasks ?
- Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations. Lists are suitable for ordered collections, sequential processing, and scenarios where the order of elements matters.

12.Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple when storing coordinates or configuration values that shouldn't be changed. Ex coordinates = (12.5, 23.4)

13.How do sets handle duplicate values in Python?
- Sets automatically remove duplicates:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

14.How does the "in" keyword work differently for lists and dictionaries?

- List: Checks if a value exists.
- Dict: Checks if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, tuples are immutable. Once created, their values cannot be changed.

16.What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary within another dictionary.
student = {
    "name": "Jeet",
    "marks": {"math": 90, "science": 85}
}
- Use case: Storing complex data like student records.

17.Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary, such as retrieving a value by its key, typically has an average time complexity of O(1), also known as constant time.

18. In what situations are lists preferred over dictionaries?
- Use lists when:
You only need ordered data.
You don't need key-value pairing.
Data will be iterated in order.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionary is termed as an unordered collection of object because the printed order of elements is not same as the order in which the elements are stored.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Retrieve by index (position)
ex -my_list[0]
- Dictionary: Retrieve by key
ex-my_dict["name"]

# Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Jeet Laha"
print(name)

2. Write a code to find the length of the string "Hello World".

In [ ]:
s = "Hello World"
print(len(s))

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
print(text[:3])

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
word = "hello"
print(word.upper())

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
sentence = "I like apple"
print(sentence.replace("apple","orange"))

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("Second element:",second_element)

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print("Reversed list:",reversed_list)

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue')
print(colors[-2])

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print('kiwi'in fruits)

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
element = {'a','b','c'}
print(element)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'John', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:",my_dict)

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.replace.

In [ ]:
import random

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

30. Write a code to convert a list of strings into a set.

In [ ]:
string_list = ['apple', 'banana', 'apple', 'cherry']
string_set = set(string_list)
print(string_set)